@media only screen and (max-width: 1180px) {
    div.container {
      width: auto;
    }
  }
  * {
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 145, 110);
  }
  
  .sneha {
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    text-decoration-style: solid;
  }
  
  .icon {
    margin: 5px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }
  
  .inp {
    padding: 20px;
    margin: 15px;
    border-radius: 0 10px;
    width: 300px;
    background-color: lightcyan;
  }
  
  .btn {
    margin-top: 5px;
    background-image: linear-gradient(
      to left,
      rgb(124, 72, 72),
      indigo,
      rgb(219, 26, 219)
    );
    border-radius: 0 15px;
    height: 40px;
    width: 70px;
    color: blanchedalmond;
    border-color: black;
  }
  .btn:hover {
    box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .cards {
    width: 500px;
    margin: 20px;
    padding: 30px;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
  }
  .btnSearch {
    margin: 5px;
    background-color: rgb(205, 235, 59);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-weight: 600px;
    border-color: rgb(68, 28, 228);
  }
  
  .btnSearch:hover {
    cursor: pointer;
    background-color: rgb(120, 203, 57);
    box-shadow: 0px 5px 8px 5px rgb(20, 196, 208);
  }
  